* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  height: 100sh;
}

/* Add styles here! */
.intro-chunk {
  background-color: hsl(0deg, 0%, 100%);
  /* background-color: red; */
  padding: 20px;
  /* border-radius: 5px; */
  margin-bottom: 20px;
  height: 50%;
  /* margin: 32px 64px 32px 64px; */
  max-width: 415px;
}
/* .title > p {
  width: 300px;
} */
main {
  background-color: hsl(0deg, 0%, 40%);
  height: 50%;
  border-top: 1px solid hsl(0deg, 0%, 80%);
}
.card {
  /* margin: 32px 64px 32px 64px; */
  background-color: white;
  /* padding: 20px; */
  min-width: 550px;
}
.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  margin-left: -24px;
  width: fit-content;
  /* padding: 4px 24px; */
}
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 24px;
}
